@import '../../global.scss';

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .eventList {
        height: 300px;
        width: 600px;

        .eventInfo {
            background-color: $darkerPurple;
            color: $greyishWhite;
            margin: 30px;
            padding: 8px;

            h3 {
                font-size: 30px;
            }

            h4{ 
                font-size: 18px;
            }

            a{
                text-decoration: none;
                color: $greyishWhite;
                border: 2px solid $greyishWhite;
                padding: 2px;
                background-color: $darkOrange;
            }

            p {
                font-size: 18px;
            }
        }
    }

}