@import '../../global.scss';

.createEvents{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: $greyishWhite;

    .header{
        a {
            text-decoration: none;
            color: black;
        }
    }

    .createEvent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $darkTeal;
        width: 500px;
        padding-bottom: 20px;
        text-align: center;


        .text{
            width: 300px;
    
        }

        #description{
            height: 200px;
            width: 300px;
        }

        button {
            margin-top: 20px;
        }
    }
        
    .eventCreated{
        background-color: $darkOrange;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        button{
            margin-bottom: 20px;
        }
    }
}
