@import '../../global.scss';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header{

        a {
            text-decoration: none;
            color: black;
        }
    }

    .loginForm{
        height: 300px;
        width: 300px;
        padding-bottom: 20px;
        border: 5px solid $darkerPurple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3{
            text-align: center;
        }

        .password{
            margin-bottom: 20px;
        }

        .changePage{
            cursor: pointer;
        }
    }

    .signupForm{
        height: 300px;
        width: 300px;
        padding-bottom: 20px;
        border: 5px solid $darkerPurple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3{
            text-align: center;
        }

        .password{
            margin-bottom: 20px;
        }
    }
    
}