@import '../../global.scss';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .navbar{
        background-color: $darkOrange;
        width: 600px;
        height: 325px;
        text-align: center;

         a {
            text-decoration: none;
            color: $greyishWhite;

            h1 {
                font-size: 60px;
            }

            h3 {
                font-size: 30px;
            }
        }

    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;


        button {
            width: 100px;
            height: 50px;
            font-size: 18px;
            cursor: pointer;
        }

        .home {
            margin-right: 10px;      
        }

        .share {
            margin-left: 10px;
        }
    }

}